<div class="col-md-2">
  <div class="card card-body text-center shadow-sm">
    <h5 class="text-truncate fw-bold">{{ user.username }}</h5>
    <p class="text-truncate m-0">{{ user.email }}</p>
  </div>
  <div class="list-group shadow-sm my-3">
    <a href="{% url 'home' %}" class="list-group-item list-group-item-action">
      <i class="bi bi-house-door me-1"></i> Home
      <span class="float-end">&rarr;</span>
    </a>
    <a
      href="{% url 'dashboard' %}"
      class="list-group-item list-group-item-action {% if 'dashboard' in request.path %} active {% endif %}"
    >
      <i class="bi bi-speedometer2 me-1"></i> Dashboard
      <span class="float-end">&rarr;</span>
    </a>
    {% if user.is_staff %}
    <a href="/admin" class="list-group-item list-group-item-action">
      <i class="bi bi-shield-lock me-1"></i> Admin Area
      <span class="float-end">&rarr;</span>
    </a>
    {% endif %} {% if user.groups.first.name == 'supplier' %}
    <a
      href="{% url 'supplier:supplier.index' %}"
      class="list-group-item list-group-item-action {% if '/supplier' in request.path %} active {% endif %}"
    >
      <i class="bi bi-activity me-1"></i> Supplier
      <span class="float-end">&rarr;</span>
    </a>
    <a
      href="{% url 'product.index' %}"
      class="list-group-item list-group-item-action {% if '/product' in request.path %} active {% endif %}"
    >
      <i class="bi bi-people me-1"></i> Product
      <span class="float-end">&rarr;</span>
    </a>
    <a
      href="{% url 'dashboard' %}"
      class="list-group-item list-group-item-action {% if '/stock-activity' in request.path %} active {% endif %}"
    >
      <i class="bi bi-check2-circle me-1"></i> Stock Activity
      <span class="float-end">&rarr;</span>
    </a>
    {% endif %} {% if user.groups.first.name == 'supervisor' %}
    <a href="{% url 'home' %}" class="list-group-item list-group-item-action">
      <i class="bi bi-bell me-1"></i> Supervisor
      <span class="float-end">&rarr;</span>
    </a>
    <a
      href="{% url 'dashboard' %}"
      class="list-group-item list-group-item-action {% if '/site' in request.path %} active {% endif %}"
    >
      <i class="bi bi-box me-1"></i> Site <span class="float-end">&rarr;</span>
    </a>
    <a
      href="{% url 'dashboard' %}"
      class="list-group-item list-group-item-action {% if '/employee' in request.path %} active {% endif %}"
    >
      <i class="bi bi-chat-dots me-1"></i> Employee
      <span class="float-end">&rarr;</span>
    </a>
    <a
      href="{% url 'dashboard' %}"
      class="list-group-item list-group-item-action"
    >
      <i class="bi bi-question-circle me-1"></i> Attendance
      <span class="float-end">&rarr;</span>
    </a>
    {% endif %}
    <a href="{% url 'home' %}" class="list-group-item list-group-item-action">
      <i class="bi bi-gear me-1"></i> Settings
      <span class="float-end">&rarr;</span>
    </a>
    <a
      href="{% url 'dashboard' %}"
      class="list-group-item list-group-item-action"
    >
      <i class="bi bi-person me-1"></i> My profile
      <span class="float-end">&rarr;</span>
    </a>
    <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">
      <i class="bi bi-box-arrow-right me-1"></i> Log out
      <span class="float-end">&rarr;</span>
    </a>
  </div>
</div>
