html,
body {
  background-image: url('/static/images/wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.ck-editor__editable {
  min-height: 120px !important;
}


.card-img-top {
  height: 200px !important;
  object-fit: cover;
  overflow-y: hidden;
}

.carousel-item > img {
  max-height: 24rem;
  object-fit: cover;
  overflow-y: hidden;
}
