{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Supplier {% endblock %}
{% block content %}
<h4>Add new supplier</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'supplier:supplier.index' %}">Supplier</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add new supplier</li>
  </ol>
</nav>
<form action="#" method="post" enctype='multipart/form-data'>
  <div class='row'>
    <div class="col-md-4 mb-2">
      <label for="name" class="form-label">Supplier Name</label>
      <input type="text" class="form-control" name='name' placeholder="full name" required>
    </div>
    <div class="col-md-4 mb-2">
      <label for="owner_id" class="form-label">Owner</label>
      <select class='form-control' name='owner_id' required>
        <option value=''> - select owner - </option>
        {% for owner in owners %} {% if owner.groups.first.name == 'supplier' %}
        <option value='{{ owner.id }}'>{{ owner.username }}</option>
        {% endif %} {% endfor %}
      </select>
    </div>
    <div class="col-md-4 mb-2">
      <label for="image" class="form-label">Image</label>
      <input type="file" class="form-control" name='image' accept='image/*' />
    </div>
  </div>
  <div class="mb-2">
    <label for="content" class="form-label">Description</label>
    <textarea class='form-control' name='description' rows='5' placeholder="Supplier additional information"></textarea>
  </div>
  {% csrf_token %}
  <div class='d-flex justify-content-between'>
    <button class="btn btn-primary" type="submit">Continue</button>
    <a class="btn btn-link" href="{% url 'supplier:supplier.index' %}">All suppliers</a>
  </div>
</form>
{% endblock %}