{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Product {% endblock %}
{% block content %}
<h4>Edit product</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    {% if user.groups.first.name == 'supplier'%}
    <li class="breadcrumb-item"><a href="{% url 'supplier:product.index' %}">Product</a></li>
    {% else %}
    <li class="breadcrumb-item"><a href="{% url 'product.index' %}">Product</a></li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">Edit product</li>
  </ol>
</nav>
<form action="#" method="post" enctype='multipart/form-data'>
  <div class='row'>
    <div class="col-md-6 mb-2">
      <label for="name" class="form-label">Product Name</label>
      <input type="text" class="form-control" name='name' value="{{ product.name }}" required>
    </div>
    <div class="col-md-6 mb-2">
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" name='price' value="{{ product.price }}" required>
    </div>
    <div class="col-md-6 mb-2">
      <label for="quality" class="form-label">Quality</label>
      <select class='form-control' name='quality' required>
        <option value='{{ product.quality }}'>{{ product.quality }}</option>
        <option value='1'>quality 1</option>
        <option value='2'>quality 2</option>
        <option value='3'>quality 3</option>
      </select>
    </div>
    <div class="col-md-6 mb-2">
      <label for="image" class="form-label">Image</label>
      <input type="file" class="form-control" name='image' accept='image/*' />
    </div>
  </div>
  <div class="mb-2">
    <label for="content" class="form-label">Description</label>
    <textarea class='form-control' name='description' rows='5' placeholder="Product additional information">{{ product.description }}</textarea>
  </div>
  {% csrf_token %}
  <div class='d-flex justify-content-between'>
    <button class="btn btn-primary" type="submit">Continue</button>
    {% if user.groups.first.name == 'supplier'%}
    <a class="btn btn-link" href="{% url 'supplier:product.index' %}">All products</a>
    {% else %}
    <a class="btn btn-link" href="{% url 'product.index' %}">All products</a>
    {% endif %}
  </div>
</form>
{% endblock %}