{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Product {% endblock %}
{% block content %}
<h4>All Products</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    {% if user.groups.first.name == 'supplier'%}
    <li class="breadcrumb-item"><a href="{% url 'supplier:product.index' %}">Product</a></li>
    {% else %}
    <li class="breadcrumb-item"><a href="{% url 'product.index' %}">Product</a></li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">All Products</li>
  </ol>
</nav>
{% if user.groups.first.name == 'supplier' %}
<a href="{% url 'supplier:product.create' %}" class="btn btn-primary float-end mb-2">Add new product</a>
{% elif user.groups.first.name != 'supplier' and user.is_staff %}
<a href="{% url 'product.create' %}" class="btn btn-primary float-end mb-2">Add new product</a>
{% endif %} {% include 'partials/messages.html' %}
<table class="table bg-white">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Quality</th> 
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for product in page_object %}
    <tr>
      <td>{% if product.image %}<img src='/media/{{product.image}}' width='50'/>{% endif %}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description|truncatechars:20}}</td>
      <td>{{product.quality}}</td>
      <td>
        {% if user.groups.first.name != 'supplier' and product.user_id == user.id %}
          <a href="{% url 'product.edit' id=product.id %}" class="btn btn-sm btn-info">Edit</a>
          <a href="{% url 'product.delete' id=product.id %}" class="btn btn-sm btn-warning">Delete</a>
        {% endif %} {% if user.groups.first.name == 'supplier' and product.user_id == user.id %}
          <a href="{% url 'supplier:product.edit' id=product.id %}" class="btn btn-sm btn-info">Edit</a>
          <a href="{% url 'supplier:product.delete' id=product.id %}" class="btn btn-sm btn-warning">Delete</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<nav aria-label="pagination">
  <ul class="pagination justify-content-center">
    {% if page_object.has_previous %}
    <li class="page-item"><a class="page-link" href='?page={{ page_object.previous_page_number }}'><i class='bi bi-chevron-left'></i></a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="#">{{ page_object.number }} / {{ page_object.paginator.num_pages }}</a></li>
    {% if page_object.has_next %}
    <li class="page-item"><a class="page-link" href='?page={{ page_object.next_page_number }}'><i class='bi bi-chevron-right'></i></a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
