{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Employee {% endblock %}
{% block content %}
<h4>Add new employee</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'supervisor:employee.index' %}">Employee</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add new employee</li>
  </ol>
</nav>
<form action="#" method="post" enctype='multipart/form-data'>
  <div class='row'>
    <div class="col-md-4 mb-2">
      <label for="name" class="form-label">Full names *</label>
      <input type="text" class="form-control" name='name' placeholder="full name" required>
    </div>
    <div class="col-md-4 mb-2">
      <label for="phone" class="form-label">Phone number</label>
      <input type="text" class="form-control" name='phone' placeholder="07839523035">
    </div>
    <div class="col-md-4 mb-2">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" name='email' placeholder="my@email.com">
    </div>
    <div class="col-md-4 mb-2">
      <label for="position" class="form-label">Position</label>
      <input type="text" class="form-control" name='position' placeholder="painter,plumber,builder" required>
    </div>
    <div class="col-md-4 mb-2">
      <label for="site" class="form-label">Site</label>
      <select class='form-control' name='site' required>
        <option value=''> - select site - </option>
        {% for site in sites %}
        <option value='{{ site.id }}'>{{ site.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% csrf_token %}
  <div class='d-flex justify-content-between'>
    <button class="btn btn-primary" type="submit">Continue</button>
    <a class="btn btn-link" href="{% url 'supervisor:employee.index' %}">All employees</a>
  </div>
</form>
{% endblock %}