{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class='container'>
    <div class="row my-4">
    <div class="col-md-6">
      <div class="head">
        <h1>COST CONSULT (R) Ltd</h1>
        <p>
          <b>Sector:</b> Construction and Materials
        </p>
      </div>
      <div class="body">
        COST CONSULT (R) Ltd offers a comprehensive quantity surveying and
        construction consultancy service, all conforming to the high ethical
        standards associated with the profession. The services offered includes
        the following: Quantity Surveying - Building cost estimates - Preparation
        of tender documentation - Adjudication and / or negotiation of tenders -
        Controlling interim payments - Managing variations and scope changes -
        Final account negotiations and settlements - Tenant installations
        Construction &amp; Civil Engineering works Feasibility studies and
        execution of works
      </div>
      <div class="products">
        <div style="padding-left: 10%; padding-bottom: 10px">
          <b>Products and Services</b><br />
        </div>
        <ul>
          <li>Constructions</li>
          <li>Quantity Surveying</li>
          <li>Civil Engineering</li>
          <li>Preparation of Bills of Quantities and cost estimates</li>
          <li>Contracting</li>
          <li>Architectural services</li>
        </ul>
      </div>
    </div>
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-4">
      <div class="head">
      </div>
      <div class="icone">
        <img
          src="/static/images/about.png"
          width="100%"
        />
      </div>
      <div class="meta">
        <div class="item">
          <i
            class="icon ion-ios-location"
            style="color: #000; font-size: 30px"
          ></i>
          <div>Nyarugenge - Kigali</div>
        </div>
        <div class="item">
          <i
            class="icon ion-ios-telephone"
            style="color: #000; font-size: 30px"
          ></i>
          <div>
            <a style="text-decoration:none" href="tel:+250785492976" target="_blank">+250785492976</a><br /><a
              href="#"
              target="_blank"
            ></a>
          </div>
        </div>
        <div class="item">
          <i class="icon ion-ios-email" style="color: #000; font-size: 30px"></i>
          <div>
            <a style="text-decoration:none" href="mailto:costconsultrwanda@gmail.com" target="_blank"
              >costconsultrwanda@gmail.com</a
            >
          </div>
        </div>
        <div class="item">
          <i class="icon ion-ios-world" style="color: #000; font-size: 30px"></i>
          <div><a href="" target="_blank"></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
  
{% endblock %}