{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="det-flex">
    <div class="det-col-1">
        <div class="head">
            <h1>COST CONSULT (R) Ltd</h1>
            <p><b>Sector:</b> Construction and Materials  &nbsp; &nbsp; | &nbsp; &nbsp; <b><i class="icon ion-eye"></i>  Viewers:</b> 1650</p>
        </div>
        <div class="body">COST CONSULT (R) Ltd offers a comprehensive quantity surveying and
construction consultancy service, all conforming to the high ethical standards associated with the profession.
The services offered includes the following:
Quantity Surveying
-      Building cost estimates 
-      Preparation of tender documentation 
-      Adjudication and / or negotiation of tenders 
-      Controlling interim payments 
-      Managing variations and scope changes 
-      Final account negotiations and settlements 
-      Tenant installations 
Construction &amp; Civil Engineering works 
Feasibility studies and execution of works </div>
        <div class="products"> <div style="padding-left: 10%; padding-bottom: 10px;"><b>Products and Services</b><br></div>
            <ul>
                                                                        <li>Constructions</li>
                                            <li>Quantity Surveying</li>
                                            <li>Civil Engineering</li>
                                            <li>Preparation of Bills of Quantities and cost estimates</li>
                                            <li>Contracting</li>
                                            <li>Architectural services</li>
                                        </ul>
        </div>
    </div>
    <div class="det-col-2">&nbsp;</div>
    <div class="det-col-3">
                                <div class="head">
            <img src="https://rwandamarket.rw/img/assets/time.png" width="30px" height="30px">
            <div>Today <br> 08:00 AM - 05:00 PM</div>
            <a>Open Now</a>
        </div>
        <div class="icone"><img src="https://rwandamarket.rw/img/logo/inst/default.png" width="100%"></div>
        <div class="meta">
            <div class="item">
                <i class="icon ion-ios-location" style="color: #000; font-size: 30px;"></i><div>Nyarugenge - Kigali</div>
            </div>
            <div class="item">
                <i class="icon ion-ios-telephone" style="color: #000; font-size: 30px;"></i>
                <div><a href="tel:+250785492976" target="_blank">+250785492976</a><br><a href="#" target="_blank"></a></div>
            </div>
            <div class="item">
                <i class="icon ion-ios-email" style="color: #000; font-size: 30px;"></i>
                <div><a href="mailto:costconsultrwanda@gmail.com" target="_blank">costconsultrwanda@gmail.com</a></div>
            </div>
            <div class="item">
                <i class="icon ion-ios-world" style="color: #000; font-size: 30px;"></i>
                <div><a href="" target="_blank"></a></div>
            </div>
            <center><ul>
                                                                                                        <li><a href="" target="_blank"><img src="https://rwandamarket.rw/img/icons/socialmedias/Twitter_icon.png" width="30px" height="30px"></a></li>
                                                                            <li><a href="" target="_blank"><img src="https://rwandamarket.rw/img/icons/socialmedias/Facebook_icon.png" width="30px" height="30px"></a></li>
                                        </ul></center>
        </div>
                            </div>
</div>
{% endblock %}