
{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Analysis - Quantity Survey {% endblock %}
{% block content %}
<h4>Analysis</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Analysis</li>
  </ol>
</nav>
<ul class="nav nav-pills my-4" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Recommended</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Cheap Products</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <table class="table bg-white" id='quality-table'>
            <thead>
                <tr>
                <th scope="col">Supplier</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quality</th>
                <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for product in quality_products %}
                <tr>
                <td>
                    <a href='{% url "supplier:supplier.show" id=product.supplier_id %}'>
                        {{product.supplier.name}}
                    </a>
                </td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quality}}</td>
                <td>{{product.description|truncatechars:20}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <center>
            <button class='btn btn-success rounded-pill' onclick="printExcel('quality-table')">Print Excel</button>
            <div class='w-50 h-50 mt-3'><canvas id="quality" width="200" height="200"></canvas></div>
        </center>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <table class="table bg-white" id='cheap-table'>
            <thead>
                <tr>
                <th scope="col">Supplier</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quality</th>
                <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for product in cheap_products %}
                <tr>
                <td>
                    <a href='{% url "supplier:supplier.show" id=product.supplier_id %}'>
                        {{product.supplier.name}}
                    </a>
                </td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quality}}</td>
                <td>{{product.description|truncatechars:20}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <center>
            <button class='btn btn-success rounded-pill' onclick="printExcel('cheap-table')">Print Excel</button>
            <div class='w-50 h-50 mt-3'><canvas id="cheap" width="200" height="200"></canvas></div>
        </center>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'vendor/chart_js/chart.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}" />
<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="{% static 'js/tableToExcel.js' %}"></script>
<script>
    let cheapLabels = {{ cheap_labels|safe }}
    let cheapPrices = {{ cheap_prices|safe }}
    let qualityLabels = {{ quality_labels|safe }}
    let qualityPrices = {{ quality_prices|safe }}
    $(document).ready(function () {
        $('#cheap-table').DataTable();
        $('#quality-table').DataTable();
    });
    function printExcel(name='') {
        TableToExcel.convert(document.getElementById(name))
    }
    const cheapProduction = document.getElementById('cheap').getContext('2d');
    const qualityProduction = document.getElementById('quality').getContext('2d');
    const cheapProductionChart = new Chart(cheapProduction, {
        type: 'pie',
        data: {
            labels: cheapLabels,
            datasets: [{
                label: '# product / price',
                data: cheapPrices,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });    
    const qualityProductionChart = new Chart(qualityProduction, {
        type: 'pie',
        data: {
            labels: qualityLabels,
            datasets: [{
                label: '# product / price',
                data: qualityPrices,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}