
{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Dashboard - Quantity Survey {% endblock %}
{% block content %} {% if user.groups.first.name != 'supplier' %}
<div class="row">
  <div class="col-md-3 col-sm-6 mb-3">
    <div class="card card-body shadow-sm">
      <h1>{{ site_count }}</h1>
      <h4>Sites</h4>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 mb-3">
    <div class="card card-body shadow-sm">
      <h1>{{ product_count }}</h1>
      <h4>Products</h4>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 mb-3">
    <div class="card card-body shadow-sm">
      <h1>{{ supplier_count }}</h1>
      <h4>Suppliers</h4>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 mb-3">
    <div class="card card-body shadow-sm">
      <h1>{{ employee_count }}</h1>
      <h4>Employees</h4>
    </div>
  </div>
  <div class="col-md-12">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'images/illustration.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block text-dark py-2 bg-info">
            <h2>Compare supplier products & prices</h2>
            <p class='lead'>Get the best price list and minimize costs.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/illustration2.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block text-dark py-2 bg-info">
            <h2>Second slide label</h2>
            <p class='lead'>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/meeting-room.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block text-dark py-2 bg-info">
            <h2>Third slide label</h2>
            <p class='lead'>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
{% else %} 
<div class='alert bg-info'>Welcome come back <strong>{{ user.first_name }} {{ user.last_name }}, {{ user.email }}</strong></div>
{% endif %} {% endblock %}