{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center g-0">
  <div class='col-12'>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'images/meeting-room.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block text-dark text-start py-5 my-5">
            <h2>Compare supplier products & prices</h2>
            <p class='lead'>Get the best price list and minimize costs.</p>
            <a href='/signin' class='btn btn-primary'>Login</a>
            <a href='/signup' class='btn btn-secondary'>Register</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/notebook.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block text-dark text-start py-5 my-5">
            <h2>Second slide label</h2>
            <p class='lead'>Some representative placeholder content for the second slide.</p>
            <a href='/about' class='btn btn-primary'>Get Started</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/open-laptop.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block text-dark text-start py-5 my-5">
            <h2>Third slide label</h2>
            <p class='lead'>Some representative placeholder content for the third slide.</p>
            <a href='/signin' class='btn btn-primary'>Login</a>
            <a href='/signup' class='btn btn-secondary'>Register</a>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class='col-12 py-5 text-light bg-danger text-center fs-3'>
    The software to facilitate your quantity survey activities.<br/>Get started today.
  </div>
  <div class='col-md-6 d-flex align-items-center'>
    <div class='p-4'>
      <h2>Cut down your operating cost</h2>
      <p class='lead'>Colaborated easily with your sub-contractors, manage wages, on site workers, etc. Manage your on-site stock.</p>
    </div>
  </div>
  <div class='col-md-6'><img class='img-fluid' src='{% static 'images/report.jpg' %}' /></div>
  <div class='col-md-6'><img class='img-fluid' src='{% static 'images/report.jpg' %}' /></div>
  <div class='col-md-6 d-flex align-items-center'>
    <div class='p-4'>
      <h2>Cut down your take off time</h2>
      <p class='lead'>Use manual take off or link with DimensionX to automatically bring your measurements into your QSPlus project from your PDF, AutoCad or Revit DWFx drawing.</p>
    </div>
  </div>
</div>
{% endblock %}