{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Attendance {% endblock %}
{% block content %}
<h4>Add new attendance</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'supervisor:attendance.index' %}">Attendance</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add new attendance</li>
  </ol>
</nav>
<form action="#" method="post" enctype='multipart/form-data'>
  <div class='row'>
    <div class="col-md-4 mb-2">
      <label for="employee" class="form-label">Employee</label>
      <select class='form-control' name='employee' required>
        <option value=''> - select employee - </option>
        {% for employee in employees %}
        <option value='{{ employee.id }}'>{{ employee.names }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-4 mb-2">
      <label for="site" class="form-label">Site</label>
      <select class='form-control' name='site' required>
        <option value=''> - select site - </option>
        {% for site in sites %}
        <option value='{{ site.id }}'>{{ site.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% csrf_token %}
  <div class='d-flex justify-content-between'>
    <button class="btn btn-primary" type="submit">Continue</button>
    <a class="btn btn-link" href="{% url 'supervisor:attendance.index' %}">All attendance</a>
  </div>
</form>
{% endblock %}