{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Attendance {% endblock %}
{% block content %}
<h4>All Attendances</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'supervisor:attendance.index' %}">Attendance</a></li>
    <li class="breadcrumb-item active" aria-current="page">All Attendances</li>
  </ol>
</nav>
<a href="{% url 'supervisor:attendance.create' %}" class="btn btn-primary float-end mb-2">Add new attendance</a>
{% include 'partials/messages.html' %}
<table class="table bg-light">
  <thead>
    <tr>
      <th scope="col">Employee</th>
      <th scope="col">Site</th>
      <th scope="col">Time</th> 
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for attendance in page_object %}
    <tr>
      <td>{{attendance.employee.username}}</td>
      <td>{{attendance.site.name}}</td>
      <td>{{attendance.created_at}}</td>
      <td>
        {% if attendance.user_id == user.id %}
          <a href='#' class='btn btn-success'>Details</a>
          <a href="{% url 'supervisor:attendance.edit' id=attendance.id %}" class="btn btn-info">Edit</a>
          <a href="{% url 'supervisor:attendance.delete' id=attendance.id %}" class="btn btn-warning">Delete</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<nav aria-label="pagination">
  <ul class="pagination justify-content-center">
    {% if page_object.has_previous %}
    <li class="page-item"><a class="page-link" href='?page={{ page_object.previous_page_number }}'><i class='bi bi-chevron-left'></i></a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="#">{{ page_object.number }} / {{ page_object.paginator.num_pages }}</a></li>
    {% if page_object.has_next %}
    <li class="page-item"><a class="page-link" href='?page={{ page_object.next_page_number }}'><i class='bi bi-chevron-right'></i></a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
